.projects {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 350px;
  left: 50px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ff8a00, #e52e71);
  opacity: 0.4;
  animation: skew 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
}
@keyframes skew {
  0% {
    transform: skew(20deg, 20deg);
  }
  100% {
    transform: skew(-20deg, -20deg);
  }
}
.textd {
  position: absolute;
  text-align: center;
  top: 60px;
  left: 50px;
}
